h3 {
    text-align: center;
}

body {
    background: #c7b39b url(Background.jpg); /* Цвет фона и путь к файлу */
    color: #fff; /* Цвет текста */
}

input[type=text] {
    background-color: antiquewhite;
}

input[type=number] {
    background-color: aqua;
}

input[type=password] {
    background-color: chartreuse;
}

input[list=country] {
    background-color: greenyellow;
}

button {
    background-color: gold;
    font-size: 24px;
    height: 50px;
    width: 200px;
}

button:hover {
    background-color: chartreuse;
}

