h1 {
    color: #e21b67;
    text-align: left;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 30%;
    background: url(fon1.jpg);
}

th, td {
    border: 1px solid black;
    paddind: 5px;
    text-align: center;
}

body {
    background: #c7b39b url(fon.jpg); /* Цвет фона и путь к файлу */
}

