<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Windows </title>
    <style>
        .cont {
            display: flex;
            flex-wrap: wrap;
        }

        .cont > div {
            background-color: darkorchid;
            font-size: 20px;
            margin: 20px;
            padding: 20px;
            width: 200px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="cont">
    <div>A.Hello</div>
    <div>B.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>D.Hello</div>
    <div>E.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>A.Hello</div>
    <div>B.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>D.Hello</div>
    <div>E.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>A.Hello</div>
    <div>B.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>D.Hello</div>
    <div>E.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>A.Hello</div>
    <div>B.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>D.Hello</div>
    <div>E.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>A.Hello</div>
    <div>B.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>D.Hello</div>
    <div>E.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>A.Hello</div>
    <div>B.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>D.Hello</div>
    <div>E.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>A.Hello</div>
    <div>B.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>D.Hello</div>
    <div>E.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>A.Hello</div>
    <div>B.My friend</div>
    <div>
        <button>Hello</button>
    </div>
    <div>D.Hello</div>
    <div>E.My friend</div>
    <div>
        <button>Hello</button>
    </div>
</div>
</body>
</html>